<% if todo.id == @edit_id %>
  <li class="editing">
    <input autofocus type="text" class="edit" value="<%= todo.title %>" <%= "checked" if todo.completed? %>
      data-controller="todos" data-action="change->todos#update keypress->todos#cancelEdit blur->todos#cancelEdit" data-id="<%= todo.id %>">
  </li>
<% else %>
  <li class="<%= "completed" if todo.completed? %>" data-controller="todo">
    <div class="view">
      <%= form_for todo, remote: true, html: { data: { target: "todo.form" }} do |f| %>
        <%= f.hidden_field :id %>
        <%= f.check_box :completed, class: "toggle", data: { action: "change->todo#submit", target: "todos.checkbox" } %>
      <% end %>
      <label data-action="click->todos#edit">
        <%= todo.title %>
      </label>
      <%= button_to "&times;".html_safe, todo_path(todo), type: "button", class: "destroy", remote: true, method: :delete %>
    </div>
  </li>
<% end %>
