<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <%= render "todos/form" %>
  </header>

  <% if @all_todos.any? %>
    <section class="main">
      <%= form_with url: bulk_update_todos_path, html: { data: { controller: "todos", target: "todos.form" } } do %>
        <input class="toggle-all" type="checkbox">
        <label data-action="click->todos#toggleAll">
          Mark all as complete
        </label>
      <% end %>

      <ul class="todo-list">
        <%= render partial: "todo", collection: @filtered_todos %>
      </ul>
    </section>
  <% end %>

  <%= render "/todos/actions" if @all_todos.any? %>
</section>

<%= render "/todos/badges" %>
